body{
    margin: 12px;
    padding: 0;
    background-color: beige;
    color: rgb(45, 3, 27);
    font-family: "Sofia", sans-serif;
}
h1{
    color: rgb(25, 4, 94);
    text-align: center;
    font-family: "Trirong", serif;
    text-shadow: -2px 6px 20px black;
}
h3{
    background-color: azure;
    color: black;
    border: 2px solid gold;
    border-radius: 12px;
    font-family: "Audiowide", sans-serif;
    padding: 16px;
}
h3:hover{
    background-color: black;
    color: aqua;
    border: 4px solid greenyellow;
    cursor: pointer;
}
